<footer class="footer">
  <div class="container">
    <div class="content">
      <div class="left-side">
        <a href="#" class="logo">
          <img src="../img/icons/logowhite (1).png" alt="logo" />
        </a>
        <ul class="f-list">
          <li class="f-list-item">
            <a href="#" class="text">About us</a>
          </li>
          <li class="f-list-item">
            <a href="#" class="text">Our products</a>
          </li>
          <li class="f-list-item">
            <a href="#" class="text">Prices</a>
          </li>
          <li class="f-list-item">
            <a href="#" class="text">Bestsellers</a>
          </li>
          <li class="f-list-item">
            <a href="#" class="text">Reviews</a>
          </li>
        </ul>
        <ul class="info-list">
          <li class="info-item">
            <p class="text">Obolonsky Prospect, 14, Kyiv</p>
          </li>
          <li class="info-item">
            <p class="text">Daily 10:00-21:00</p>
          </li>
        </ul>
        <ul class="support-list">
          <li class="support-item">
            <a href="tel:+380669384758" class="text">+380669384758</a>
          </li>
          <li class="support-item">
            <a href="tel:+380679384758" class="text">+380679384758</a>
          </li>
          <li class="support-item">
            <a href="mailto:minimal.furniture@gmail.com" class="text">minimal.furniture@gmail.com</a>
          </li>
        </ul>
      </div>
      <ul class="socials">
        <li class="social-list">
          <a href="https://www.facebook.com/" class="social-item">
            <img src="../img/icons/facebook.png" alt="facebook" />
          </a>
        </li>
        <li class="social-list">
          <a href="https://www.instagram.com/" class="social-item">
            <img src="../img/icons/instagram.png" alt="instagram" />
          </a>
        </li>
        <li class="social-list">
          <a href="https://www.youtube.com/" class="social-item">
            <img src="../img/icons/youtube.png" alt="youtube" />
          </a>
        </li>
      </ul>
    </div>
    <small class="small">By using this website, you agree to the <a href="#" class="small-link">Terms of Service</a> and <a href="#" class="small-link">Privacy Policy</a></small>
  </div>
</footer>
