<header class="header">
  <div class="container header-position">
    <a href="index.html" class="logo">
      <img src="./img/icons/logo.png" alt="logo" />
    </a>
    <nav class="nav">
      <ul class="menu">
        <li class="menu-item">
          <a href="#" class="menu-item-link">About us</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item-link">Our products</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item-link">Prices</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item-link">Bestsellers</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item-link">Reviews</a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-item-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="burger-menu">
      <img src="../img/align-justify.png" alt="burger-menu">
    </button>
  </div>
</header>
