<section class="sec-1">
  <div class="container">
    <h1 class="sec-1-title">Modern and minimalist furniture for you</h1>
    <ul class="sec-1-img-list">
      <li class="sec-1-img-list-item">
        <picture>
          <source
            srcset="./img/desktop/image1x_desktop.png 1x, ./img/desktop/image2x_desktop.png 2x"
            media="(min-width: 1320px)" > <!--Desktop-->          
          <source
            srcset="./img/tablet/product 11x_tablet.png 1x, ./img/tablet/product 12x_tablet.png 2x"
            media="(min-width: 704px)" > <!--Tablet-->
          <!-- <source
            srcset="../img/mobile/product_mobile_1_1x.jpg , ../img/mobile/product_mobile_1_2x.jpg" 
            media="(min-width: 343px)" > Mobile -->
          <img
            src="./img/desktop/image1x_desktop.png"
            alt="picture" />
        </picture>
      </li>
      <li class="sec-1-img-list-item">
        <picture>          
          <source
            srcset="./img/desktop/image1x_desktop(1).png 1x, ./img/desktop/image2x_desktop(1).png 2x"
            media="(min-width: 1320px)" > <!--Desktop-->
          <source
            srcset="./img/tablet/product 21x_tablet.png 1x, ./img/tablet/product 22x_tablet(1).png 2x"
            media="(min-width: 704px)" > <!-- Tablet -->
          <!-- <source
            srcset="../img/mobile/product_mobile_1_1x.jpg 1x , ../img/mobile/product_mobile_1_2x.jpg 2x" 
            media="(min-width: 343px)" > Mobile -->
          <img src="./img/desktop/image1x_desktop(1).png" alt="picture" />
        </picture>
      </li>
      <li class="sec-1-img-list-item">
        <picture>
          <source
            srcset="./img/desktop/image1x_desktop(2).png 1x, ./img/desktop/image2x_desktop(2).png 2x"
            media="(min-width: 1320px)" > <!--Desktop-->
          <source
            srcset="./img/tablet/image1x_tablet(1).png 1x, ./img/tablet/image2x_tablet(1).png 2x"
            media="(min-width: 704px)" > <!-- Tablet -->
          <!-- <source
            srcset="../img/mobile/product_mobile_1_1x.jpg 1x, ../img/mobile/product_mobile_1_2x.jpg 2x" 
            media="(min-width: 343px)" > Mobile -->
          <img src="./img/desktop/image1x_desktop(2).png" alt="picture" />
        </picture>
      </li>
    </ul>
    <p class="sec-1-text">
      Add a touch of elegance to your space with handcrafted furniture pieces
    </p>
    <button type="button" class="button">Subscribe</button>
  </div>
</section>
