<section>
  <div class="container">
    <div>
      <h2>Newsletter</h2>
      <p>
        Every week we will send you new designs and information about sales.
      </p>
      <form>
        <label>
          <input type="text" placeholder="Name" />
        </label>
        <label>
          <input type="email" placeholder="E-mail" />
        </label>
        <label>
          <input type="checkbox" />
          Agree to subscribe to the newsletter
        </label>
        <button type="submit">Send</button>
      </form>
    </div>
    <div>
      <picture>
        <source
          srcset="../img/mobile/product_mobile_7_1x.jpg , ../img/mobile/product_mobile_7_2x.jpg" 
          media="(max-width: 704px)" > <!--Mobile-->
        <source
          srcset=""
          media="(max-width: 1320px)" > <!--Tablet-->
        <source
          srcset="../img/desktop/product 141x_desktop.png , ../img/desktop/product 142x_desktop.png"
          media="(min-width: 1320px)" > <!--Desktop-->
        <img src="../img/desktop/product 141x_desktop.png" alt="couch" />
      </picture>
    </div>
  </div>
</section>
