<section class="sec-4">
  <div class="container">
    <h2 class="sec-4-title">Our products</h2>
    <ul class="sec-4-list">
      <li class="sec-4-list-item">
        <picture>
            <source
            srcset="./img/desktop/sec-4-img-1-desktop-1x.jpg 1x, ./img/desktop/sec-4-img-1-desktop-2x.jpg 2x"
            media="(min-width: 1320px)" > <!--Desktop-->       
            <source
            srcset="./img/tablet/sec-4-img-1-tablet-1x.jpg 1x, ./img/tablet/sec-4-img-1-desktop-2x.jpg 2x"
            media="(min-width: 704px)" > <!--Tablet-->
            <source
            srcset="./img/mobile/product_mobile_3_1x.jpg 1x, ./img/mobile/product_mobile_3_2x.jpg 2x" 
            media="(min-width: 343px)" > <!--Mobile-->
          <img src="./img/desktop/sec-4-img-1-desktop-1x.jpg" alt="picture" />
        </picture>
        <p class="sec-4-list-text">Minimalist storage solutions</p>
      </li>
      <li class="sec-4-list-item">
        <picture>
          <source
            srcset="./img/desktop/sec-4-img-2-desktop-1x.jpg 1x, ./img/desktop/sec-4-img-2-desktop-2x.jpg 2x"
            media="(min-width: 1320px)" > <!--Desktop-->
          <source
            srcset="./img/tablet/sec-4-img-2-tablet-1x.jpg 1x, ./img/tablet/sec-4-img-2-desktop-2x.jpg 2x"
            media="(min-width: 704px)" > <!--Tablet-->
          <source
            srcset="./img/mobile/product_mobile_3_1x.jpg 1x, ./img/mobile/product_mobile_3_2x.jpg 2x" 
            media="(min-width: 343px)" > <!--Mobile-->
          <img src="./img/desktop/sec-4-img-2-desktop-1x.jpg" alt="picture" />
        </picture>
        <p class="sec-4-list-text">Handcrafted minimalist seating</p>
      </li>
      <li class="sec-4-list-item">
        <picture>
          <source
            srcset="./img/desktop/sec-4-img-3-desktop-1x.jpg 1x, ./img/desktop/sec-4-img-3-desktop-2x.jpg 2x"
            media="(min-width: 1320px)" > <!--Desktop-->
          <source
            srcset="./img/tablet/sec-4-img-2-tablet-1x.jpg 1x, ./img/tablet/sec-4-img-2-tablet-2x.jpg 2x"
            media="(min-width: 704px)" > <!--Tablet-->
          <source
            srcset="./img/mobile/product_mobile_3_1x.jpg 1x, ./img/mobile/product_mobile_3_2x.jpg 2x" 
            media="(min-width: 343px)" > <!--Mobile-->
          <img src="./img/desktop/sec-4-img-3-desktop-1x.jpg" alt="picture" />
        </picture>
        <p class="sec-4-list-text">Sleek and simple tables</p>
      </li>
      <li class="sec-4-list-item">
        <picture>          
          <source
            srcset="./img/desktop/sec-4-img-4-desktop-1x.jpg 1x, ./img/desktop/sec-4-img-4-desktop-2x.jpg 2x"
            media="(min-width: 1320px;)" > <!--Desktop-->
          <source
            srcset="./img/desktop/sec-4-img-4-desktop-1x.jpg 1x, ./img/desktop/sec-4-img-4-desktop-2x.jpg 2x"
            media="(min-width: 704px)" > <!--Tablet-->
         <source
            srcset="./img/mobile/product_mobile_3_1x.jpg 1x, ./img/mobile/product_mobile_3_2x.jpg 2x" 
            media="(min-width: 343px)" > <!--Mobile-->
          <img src="./img/desktop/sec-4-img-4-desktop-1x.jpg" alt="picture" />
        </picture>
        <p class="sec-4-list-text">Minimalist seating for every space</p>
      </li>
    </ul>
  </div>
</section>
