<section class="sec-1">
  <div class="container">
    <h1 class="sec-1-title">Modern and minimalist furniture for you</h1>
    <ul class="sec-1-img-list">
      <li class="sec-1-img-list-item">
        <picture>
          <source
            srcset="
              ./img/desktop/sec-1-img-1-desktop-1x.jpg 1x,
              ./img/desktop/sec-1-img-1-desktop-2x.jpg 2x
            "
            media="(min-width: 1320px)"
          />
          <!--Desktop-->
          <source
            srcset="
              ./img/tablet/sec-1-img-1-tablet-1x.jpg 1x,
              ./img/tablet/sec-1-img-1-tablet-2x.jpg 2x
            "
            media="(min-width: 704px)"
          />
          <!--Tablet-->
          <!-- <source
            srcset="../img/mobile/product_mobile_1_1x.jpg , ../img/mobile/product_mobile_1_2x.jpg" 
            media="(min-width: 343px)" > Mobile -->
          <img src="./img/desktop/sec-1-img-1-desktop-1x.jpg" alt="picture" />
        </picture>
      </li>
      <li class="sec-1-img-list-item">
        <picture>
          <source
            srcset="
              ./img/desktop/sec-1-img-2-desktop-1x.jpg 1x,
              ./img/desktop/sec-1-img-2-desktop-2x.jpg 2x
            "
            media="(min-width: 1320px)"
          />
          <!--Desktop-->
          <source
            srcset="
              ./img/tablet/sec-1-img-2-tablet-1x.jpg 1x,
              ./img/tablet/sec-1-img-2-tablet-2x.jpg 2x
            "
            media="(min-width: 704px)"
          />
          <!-- Tablet -->
          <!-- <source
            srcset="../img/mobile/product_mobile_1_1x.jpg 1x , ../img/mobile/product_mobile_1_2x.jpg 2x" 
            media="(min-width: 343px)" > Mobile -->
          <img src="./img/desktop/sec-1-img-2-desktop-1x.jpg" alt="picture" />
        </picture>
      </li>
      <li class="sec-1-img-list-item">
        <picture>
          <source
            srcset="
              ./img/desktop/sec-1-img-3-desktop-1x.jpg 1x,
              ./img/desktop/sec-1-img-3-desktop-2x.jpg 2x
            "
            media="(min-width: 1320px)"
          />
          <!--Desktop-->
          <source
            srcset="
              ./img/tablet/sec-1-img-2-tablet-1x.jpg 1x,
              ./img/tablet/sec-1-img-2-tablet-2x.jpg 2x
            "
            media="(min-width: 704px)"
          />
          <!-- <source
            srcset="../img/mobile/product_mobile_1_1x.jpg 1x, ../img/mobile/product_mobile_1_2x.jpg 2x" 
            media="(min-width: 343px)" > Mobile -->
          <img src="./img/desktop/sec-1-img-3-desktop-1x.jpg" alt="picture" />
        </picture>
        <p class="sec-1-text">
          Add a touch of elegance to your space with handcrafted furniture
          pieces
        </p>
        <button type="button" class="button">Subscribe</button>
      </li>
    </ul>
    <p class="sec-1-text-1">
      Add a touch of elegance to your space with handcrafted furniture pieces
    </p>
    <button type="button" class="button-1">Subscribe</button>
  </div>
</section>
