<section class="sec-7">
  <div class="container">
    <div class="left-box">
      <h2 class="sec-7-title">Newsletter</h2>
      <p class="sec-7-text">
        Every week we will send you new designs and information about sales.
      </p>
      <form class="form">
        <label class="label-input">
          <input type="text" placeholder="Name" class="input"/>
        </label>
        <label class="label-input">
          <input type="email" placeholder="E-mail" class="input"/>
        </label>
        <label class="label-input">
          <input type="checkbox" class="input"/>
          Agree to subscribe to the newsletter
        </label>
        <button type="submit" class="button">Send</button>
      </form>
    </div>
    <div class="right-box">
      <picture>
        <source
          srcset="../img/mobile/product_mobile_7_1x.jpg , ../img/mobile/product_mobile_7_2x.jpg" 
          media="(max-width: 704px)" > <!--Mobile-->
        <source
          srcset=""
          media="(max-width: 1320px)" > <!--Tablet-->
        <source
          srcset="../img/desktop/product 141x_desktop.png , ../img/desktop/product 142x_desktop.png"
          media="(min-width: 1320px)" > <!--Desktop-->
        <img src="../img/desktop/product 141x_desktop.png" alt="couch" />
      </picture>
    </div>
  </div>
</section>
