<section class="sec-3">
  <div class="container">
    <ul class="sec-3-list">
      <li class="sec-3-list-item">
        <h2 class="sec-3-list-title">Chairs</h2>
        <p class="sec-3-list-text">from 200<span class="sec-3-list-span">&#8372;</span></p>
      </li>
      <li class="sec-3-list-item">
        <h2 class="sec-3-list-title">Tables</h2>
        <p class="sec-3-list-text">from 250<span class="sec-3-list-span">&#8372;</span></p>
      </li>
      <li class="sec-3-list-item">
        <h2 class="sec-3-list-title">Dressers</h2>
        <p class="sec-3-list-text">from 350<span class="sec-3-list-span">&#8372;</span></p>
      </li>
      <li class="sec-3-list-item">
        <h2 class="sec-3-list-title">Sofas</h2>
        <p class="sec-3-list-text">from 500<span class="sec-3-list-span">&#8372;</span></p>
      </li>
    </ul>
  </div>
</section>
