<section>
  <div class="container">
    <h2>Bestesellers</h2>
    <div>
      <picture>
        <source
          srcset="../img/mobile/product_mobile_4_1x.jpg , ../img/mobile/product_mobile_4_2x.jpg" 
          media="(max-width: 704px)" > <!--Mobile-->
        <source
          srcset=" ,"
          media="(max-width: 1320px;)" > <!--Tablet-->
        <source
          srcset="../img/desktop/product 91x_desktop.png , ../img/desktop/product 92x_desktop.png"
          media="(min-width: 1320px;)" > <!--Desktop-->
        <img src="../img/desktop/product 91x_desktop.png" alt="picture" />
      </picture>
      <p>The modern platform bed</p>
      <p>750$</p>
    </div>
    <ul>
      <li>
        <picture>
          <source
            srcset="../img/mobile/product_mobile_5_1x.jpg , ../img/mobile/product_mobile_5_2x.jpg" 
            media="(max-width: 704px)" > <!--Mobile-->
          <source
            srcset=" ,"
            media="(max-width: 1320px;)" > <!--Tablet-->
          <source
            srcset="../img/desktop/product 101x_desktop.png , ../img/desktop/product 102x_desktop.png"
            media="(min-width: 1320px;)" > <!--Desktop-->
          <img src="../img/desktop/product 101x_desktop.png" alt="picture" />
        </picture>
        <p>The Cozy Lounge Chair</p>
        <p>230$</p>
      </li>
      <li>
        <picture>
          <source
            srcset="../img/mobile/product_mobile_6_1x.jpg , ../img/mobile/product_mobile_6_2x.jpg" 
            media="(max-width: 704px)" > <!--Mobile-->
          <source
            srcset=" ,"
            media="(max-width: 1320px;)" > <!--Tablet-->
          <source
            srcset="../img/desktop/product 111x_desktop.png , ../img/desktop/product 112x_desktop.png"
            media="(min-width: 1320px;)" > <!--Desktop-->
          <img src="../img/desktop/product 111x_desktop.png" alt="picture" />
        </picture>
        <p>The industrial accent chair</p>
        <p>250$</p>
      </li>
      <li>
        <picture>
          <source
            srcset="../img/mobile/product_mobile_6_1x.jpg , ../img/mobile/product_mobile_6_2x.jpg" 
            media="(max-width: 704px)" > <!--Mobile-->
          <source
            srcset=" ,"
            media="(max-width: 1320px;)" > <!--Tablet-->
          <source
            srcset="../img/desktop/product 121x_desktop.png , ../img/desktop/product 122x_desktop.png"
            media="(min-width: 1320px;)" > <!--Desktop-->
          <img src="../img/desktop/product 121x_desktop.png" alt="picture" />
        </picture>
        <p>The sleek stand</p>
        <p>300$</p>
      </li>
      <li>
        <picture>
          <source
            srcset="../img/mobile/product_mobile_6_1x.jpg , ../img/mobile/product_mobile_6_2x.jpg" 
            media="(max-width: 704px)" > <!--Mobile-->
          <source
            srcset=" ,"
            media="(max-width: 1320px)" > <!--Tablet-->
          <source
            srcset="../img/desktop/product 131x_desktop.png , ../img/desktop/product 132x_desktop.png"
            media="(min-width: 1320px)" > <!--Desktop-->
          <img src="../img/desktop/product 131x_desktop.png" alt="picture" />
        </picture>
        <p>The minimalist sofa</p>
        <p>650$</p>
      </li>
    </ul>
  </div>
</section>
