<section class="sec-2">
  <div class="container sec-2-side">
    <div class="sec-2-right-side">
      <h2 class="sec-2-title">About us</h2>
      <h3 class="sec-2-sub-title">Our сraftsmanship: сreating unique handmade furniture</h3>
      <p class="sec-2-text">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="sec-2-list">
        <li class="sec-2-list-item">
          <span class="sec-2-span">5+</span>
          <p class="sec-2-list-item-text">Years of experience creating handcrafted furniture</p>
        </li>
        <li class="sec-2-list-item">
          <span class="sec-2-span">100%</span>
          <p class="sec-2-list-item-text">Sustainably sourced materials used in all of our furniture</p>
        </li>
        <li class="sec-2-list-item">
          <span class="sec-2-span">500+</span>
          <p class="sec-2-list-item-text">Unique furniture designs crafted by our skilled artisans</p>
        </li>
      </ul>
    </div>
    <div class="sec-2-left-side">
      <picture>        
        <source
          srcset="./img/desktop/sec-2-img-1-desktop-1x.jpg 1x, ./img/desktop/sec-2-img-1-desktop-2x.jpg 2x"
          media="(min-width: 1320px)" /> 
        <source
          srcset="./img/tablet/product31x_tablet.png 1x, ./img/tablet/product32x_tablet.png 2x"
          media="(min-width: 704px)" /> 
        <source
          srcset="./img/mobile/product_mobile_2_1x.jpg 1x, ./img/mobile/product_mobile_2_2x.jpg 2x" 
          media="(min-width: 343px)" /> 
        <img src="./img/desktop/product 41x_desktop.png" alt="picture" />
      </picture>
    </div>
  </div>
</section>
