<section class="sec-4">
  <div class="container">
    <h2 class="sec-4-title">Our products</h2>
    <ul class="sec-4-list">
      <li class="sec-4-list-item">
        <picture>
            <source
            srcset="../img/desktop/product 51x_desktop.png 1x, ../img/desktop/product 52x_desktop.png 2x"
            media="(min-width: 1320px)" > <!--Desktop-->       
            <source
            srcset="../img/tablet/product 41x_tablet.png 1x, ../img/tablet/product 42x_tablet.png 2x"
            media="(min-width: 704px)" > <!--Tablet-->
            <source
            srcset="../img/mobile/product_mobile_3_1x.jpg 1x, ../img/mobile/product_mobile_3_2x.jpg 2x" 
            media="(min-width: 343px)" > <!--Mobile-->
          <img src="../img/desktop/product 51x_desktop.png" alt="picture" />
        </picture>
        <p class="sec-4-list-text">Minimalist storage solutions</p>
      </li>
      <li class="sec-4-list-item">
        <picture>
          <source
          srcset="../img/desktop/product 61x_desktop.png 1x, ../img/desktop/product 62x_desktop.png 2x"
          media="(min-width: 1320px)" > <!--Desktop-->
          <!-- <source
            srcset=" ,"
            media="(min-width: 704px)" > Tablet -->
          <source
            srcset="../img/mobile/product_mobile_3_1x.jpg 1x, ../img/mobile/product_mobile_3_2x.jpg 2x" 
            media="(min-width: 343px)" > <!--Mobile-->
          <img src="../img/desktop/product 61x_desktop.png" alt="picture" />
        </picture>
        <p class="sec-4-list-text">Handcrafted minimalist seating</p>
      </li>
      <li class="sec-4-list-item">
        <picture>
          <source
            srcset="../img/desktop/product 71x_desktop.png 1x, ../img/desktop/product 72x_desktop.png 2x"
            media="(min-width: 1320px)" > <!--Desktop-->
          <!-- <source
            srcset=" ,"
            media="(min-width: 704px)" > Tablet -->
          <source
            srcset="../img/mobile/product_mobile_3_1x.jpg 1x, ../img/mobile/product_mobile_3_2x.jpg 2x" 
            media="(min-width: 343px)" > <!--Mobile-->
          <img src="../img/desktop/product 71x_desktop.png" alt="picture" />
        </picture>
        <p class="sec-4-list-text">Sleek and simple tables</p>
      </li>
      <li class="sec-4-list-item">
        <picture>          
          <source
            srcset="../img/desktop/product 81x_desktop.png 1x, ../img/desktop/product 82x_desktop.png 2x"
            media="(min-width: 1320px;)" > <!--Desktop-->
          <!-- <source
            srcset=" ,"
            media="(min-width: 704px;)" > Tablet -->
         <source
            srcset="../img/mobile/product_mobile_3_1x.jpg 1x, ../img/mobile/product_mobile_3_2x.jpg 2x" 
            media="(min-width: 343px)" > <!--Mobile-->
          <img src="../img/desktop/product 81x_desktop.png" alt="picture" />
        </picture>
        <p class="sec-4-list-text">Minimalist seating for every space</p>
      </li>
    </ul>
  </div>
</section>
