<section class="sec-7">
  <div class="container boxes">
    <div class="left-box">
      <h2 class="sec-7-title">Newsletter</h2>
      <p class="sec-7-text">
        Every week we will send you new designs and information about sales.
      </p>
      <form class="form">
        <label class="label-input">
          <input type="text" placeholder="Name" class="input"/>
        </label>
        <label class="label-input">
          <input type="email" placeholder="E-mail" class="input"/>
        </label>
        <label class="label-input">
          <input type="checkbox" class="input"/>
          Agree to subscribe to the newsletter
        </label>
        <button type="submit" class="button-sec-7">Send</button>
      </form>
    </div>
    <div class="right-box">
      <picture>        
        <source
          srcset="./img/desktop/sec-7-img-1-desktop-1x.jpg 1x, ./img/desktop/sec-7-img-1-desktop-2x.jpg 2x"
          media="(min-width: 1320px)" /> 
        <source
          srcset="./img/tablet/sec-6-img-1-tablet-1x.jpg 1x, ./img/tablet/sec-6-img-1-tablet-2x.jpg 2x"
          media="(min-width: 704px)" /> 
        <source
          srcset="./img/mobile/product_mobile_7_1x.jpg 1x, ./img/mobile/product_mobile_7_2x.jpg 2x" 
          media="(min-width: 343px)" /> 
        <img src="./img/desktop/sec-7-img-1-desktop-1x.jpg" alt="picture" />
      </picture>
    </div>
  </div>
</section>
