.container{
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: 343px) {
        max-width: 343px;
    }
    @media screen and (min-width: 704px) {
        max-width: 704px;
    }
    @media screen and (min-width: 1320px) {
        max-width: 1320px;
    }
}