.footer {
  background: var(--blue-font);
  padding-top: 36px;
  padding-bottom: 16px;
}
.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.left-side {
  display: flex;
  row-gap: 36px;
  flex-direction: column;
  @media screen and (min-width: 704px) {
    row-gap: 0px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.logo {
  padding-top: 6px;
  @media screen and (min-width: 704px) {
    flex-basis: 70%;
  }
  @media screen and (min-width: 1320px) {
    flex-basis: 30%;
  }
}
.f-list {
  @media screen and (min-width: 704px) {
    flex-basis: 20%;
  }
  @media screen and (min-width: 1320px) {
    display: flex;
    flex-direction: row;
    flex-basis: 70%;
    column-gap: 30px;
  }
}
.info-list {
  @media screen and (min-width: 704px) {
    display: flex;
    flex-direction: column;
    row-gap: 13px;
    width: 100%;
  }
  @media screen and (min-width: 1320px) {
    margin-top: 24px;
    flex-basis: 30%;
  }
}
.support-list {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  @media screen and (min-width: 1320px) {
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 24px;
  }
}
.support-item:nth-child(1) {
  @media screen and (min-width: 1320px) {
    order: 1;
    flex-basis: 50%;
  }
}
.support-item:nth-child(2) {
  @media screen and (min-width: 1320px) {
    order: 3;
  }
}
.support-item:nth-child(3) {
  @media screen and (min-width: 1320px) {
    order: 2;
    flex-basis: 50%;
  }
}
.support-item:nth-child(3) {
  display: none;
  @media screen and (min-width: 704px) {
    display: block;
  }
}
.socials {
  display: flex;
  column-gap: 16px;
  height: 28px;
  align-items: center;
}
.social-item {
  display: block;
  width: 28px;
}
.text {
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
  @media screen and (min-width: 1320px) {
    font-size: 18px;
    line-height: 1.5;
  }
}
.small {
  display: block;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--dark-grey);
  @media screen and (min-width: 704px) {
    font-size: 13px;
    line-height: 1.25;
    letter-spacing: 0.07rem;
  }
}
.small-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  @media screen and (min-width: 704px) {
    font-size: 13px;
    line-height: 1.25;
    letter-spacing: 0.07rem;
  }
}
