.header{
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: var(--light-blue);
    @media screen and (min-width:704px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.header-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display: none;
    @media screen and (min-width: 1320px) {
        display: block;
    }
}
.burger-menu {
    background-color: transparent;
    border: none;
    @media screen and (min-width: 1320px) {
        display: none;
    }
}
.menu {
    @media screen and (min-width: 1320px) {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
    }
}