.sec-5-title {
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 21px;
}

.sec-5-left-side {
  margin-bottom: 34px;
}

.sec-5-text {
  font-weight: 400;
  font-size: 16px;
  margin-top: 14px;
  margin-bottom: 10px;
}

.sec-5-price {
  font-weight: 700;
  font-size: 16px;
  color: var(--blue-font);
}

.sec-5-bestsellers-item {
  margin-bottom: 34px;
}

.sec-5-bestsellers-item:nth-child(3),
.sec-5-bestsellers-item:nth-child(4),
.sec-5-bestsellers-item:nth-child(5) {
  display: none;
}
