.sec-6 {
  background: var(--light-blue);
}

.sec-6-title {
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 36px;
  text-align: center;
}

.client-reviews-list {
  padding-top: 24px;
  padding-bottom: 36px;
}

.client-reviews-item {
  border-radius: 8px;
  width: 343px;
  height: 230px;
  background: var(--white);
  padding: 24px;
}

.client-reviews-item:nth-child(2),
.client-reviews-item:nth-child(3) {
  display: none;
}

.client-div {
  display: flex;
  column-gap: 14px;
  margin-bottom: 24px;
}

.info-div-name {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.info-div-price {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.cient-text {
  font-weight: 400;
  font-size: 14px;
}
