.sec-6 {
  background: var(--light-blue);
}

.sec-6-title {
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 36px;
  text-align: center;
}

.client-reviews-list {
  padding-top: 24px;
  padding-bottom: 36px;
}

.client-reviews-item {
  border-radius: 8px;
  width: 343px;
  height: 230px;
  background: var(--white);
  padding: 24px;
  @media screen and (min-width: 704px) {
    width: 344px;
    height: 319px;
  }
  @media screen and (min-width: 1320px) {
    width: 424px;
    height: 306px;
  }
}

.client-reviews-item:nth-child(2),
.client-reviews-item:nth-child(3) {
  display: none;
}

.client-reviews-item:nth-child(2) {
  @media screen and (min-width: 704px) {
    display: block;
  }
}

.client-reviews-item:nth-child(3) {
  @media screen and (min-width: 1320px) {
    display: block;
  }
}

.client-div {
  display: flex;
  column-gap: 14px;
  margin-bottom: 24px;
}

.info-div-name {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.info-div-price {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.client-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  @media screen and (min-width: 704px) {
    line-height: 1.5;
    font-size: 17px;
  }
  @media screen and (min-width: 1320px) {
    font-size: 18.6px;
  }
}

.client-reviews-list {
  display: flex;
  column-gap: 16px;
}
